* {
    box-sizing: border-box;
}

#background {
    position: fixed;
    justify-content: center;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    overflow: hidden;
}

/* .helper-div44 {

} */

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    grid-column: 4/8;
    grid-row: 2/4;
    width: 250px;
}

.smallProfilePic {
    margin-top: 20px;
    margin-right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 20px;
    border: 1x solid lightslategrey;
}

.bigProfilePic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1x solid lightslategrey;
}

#logoInApp {
    width: 150px;
}

/* ---------------------- */
/* WELCOME */
/* ---------------------- */

#helper-div8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows:repeat(10, 10vh); */
}

#brand-name {
    grid-column: 4/8;
    grid-row: 1/2;
    font-family: "Comfortaa";
    font-size: 50px;
}

#jingle {
    grid-column: 4/8;
    grid-row: 5/6;
    font-family: "Comfortaa";
}

/* ---------------------- */
/* START */
/* ---------------------- */

#helper-div12 {
    margin-top: 60px;
    height: 172px;
}

/* ---------------------- */
/* REGISTRATION */
/* ---------------------- */

.submit-fields {
    display: flex;
    flex-direction: column;
    width: 300px;
    outline: none;
    align-items: center;
    justify-content: center;
}

.submit-field {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comfortaa";
    font-weight: 900;
    /* text-align: center; */
    border: none;
    border-bottom: 0.5px dotted lightslategrey;
    outline: none;
    width: 300px;
}

.submit-btn {
    margin-left: 40px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border: none;
    background-color: #b4c5d5;
    color: white;
    font-family: "Comfortaa";
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    /* line-height: 50px; */
    text-align: center;
}

.submit-btn:hover {
    background-color: rgb(172 124 242);
}

.link {
    width: 74px;
    height: 40px;
    color: white;
    background-color: #b4c5d5;
    /* background-color: rgb(117, 171, 224); */
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    font-family: "Comfortaa";
    font-size: 14px;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 40px;
}

.link:hover {
    background-color: #bf9fed;
}

.error-message {
    color: crimson;
    text-align: center;
    margin-top: 30px;
    font-family: "Comfortaa";
}

.helper-div9 {
    display: flex;
    height: 170px;
    align-items: center;
}

.helper-div10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------------------- */
/* APP --> HEADER */
/* ---------------------- */

.brand-small {
    font-family: "Comfortaa";
}

.helper-div13 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link2 {
    width: 150px;
    color: white;
    background-color: #b4c5d5;
    /* background-color: rgb(196 169 235); */
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    font-family: "Comfortaa";
    font-size: 14px;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 40px;
}

.link2:hover {
    background-color: rgb(172 124 242);
}

/* ---------------------- */
/* UPLOADER */
/* ---------------------- */

#modal {
    position: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}

#helper-div1 {
    height: 200px;
    width: 200px;
    background: white;
}

.helper-div2 {
    height: 420px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255 229 229);
    padding: 40px;
}

.helper-div3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.helper-div4 {
    text-align: center;
    margin-top: 20px;
    font-family: "Comfortaa";
    font-size: 20px;
    color: rgb(76 76 76);
}

#helper-div5 {
    margin-left: 50px;
}

/* ---------------------- */
/* Profile Page */
/* ---------------------- */

.helper-div6 {
    height: 230px;
    width: 300px;
    margin: 10px;
    padding: 10px 30px;
    background-color: rgb(221 224 227);
    border: 2px solid rgb(254 254 255);
    border-radius: 10px;
    font-family: "Comfortaa";
    font-size: 15px;
    color: rgb(76 76 76);
    overflow-x: scroll;
}

textarea {
    height: 230px;
    width: 300px;
    margin: 10px;
    padding: 10px 30px;
    border: 2px solid rgb(254 254 255);
    border-radius: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    height: 230px;
    overflow-x: scroll;
}

.helper-div14 {
    display: flex;
    align-items: center;
}

.helper-div15 {
    display: flex;
    flex-direction: column;
}

.exit-btn {
    margin-top: 20px;
}

/* ---------------------- */
/* CHAT */
/* ---------------------- */

#chat {
    height: 400px;
    overflow-y: scroll;
}

.chat-img {
    margin: 10px 10px 0 10px;
    height: 30px;
    width: 30px;
    overflow: hidden;
    border-radius: 20px;
    border: 1x solid lightslategrey;
}

.chat-name {
    margin: 5px 10px 5px 10px;
    font-family: "Comfortaa";
    font-size: 11px;
}

.helper-div16 {
    margin: 5px;
    width: 40vw;
    display: flex;
}

.right {
    flex-direction: row-reverse;
}

.helper-div26 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.helper-div27 {
    display: flex;
    flex-direction: column-reverse;
    height: 250px;
    overflow-y: scroll;
    border: 2px solid rgb(254 254 255);
    border-radius: 10px;
}

#chat-input-fld {
    height: 70px;
    width: 40vw;
    border: 2px solid rgb(254 254 255);
    border-radius: 10px;
    font-family: "Comfortaa";
    font-size: smaller;
    outline: none;
}

#chat-msg {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 20vw;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Comfortaa";
    font-size: smaller;
    background-color: rgb(247 251 255);
    border-radius: 20px;
    padding: 10px;
}

.helper-div28 {
    width: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px dotted black;
    border-radius: 20px;
    background-color: rgb(247 251 255);
}

.time-msg {
    font-family: "Comfortaa";
    font-size: 8px;
}

/* ---------------------- */
/* FIND FRIENDS */
/* ---------------------- */

.helper-div17 {
    height: 420px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(255 229 229);
    padding: 40px;
}

.helper-div18 {
    display: flex;
    width: 850px;
    overflow-x: scroll;
    justify-content: left;
    border: 2px solid rgb(254 254 255);
    border-radius: 10px;
}

.helper-div19 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 30px;
}

.search-fld {
    width: 250px;
    height: 40px;
    margin-bottom: 30px;
    outline: none;
    font-family: "Comfortaa";
    text-align: center;
    border: none;
    border-radius: 20px;
    font-weight: 900;
}

.other-profile-pic {
    height: 100px;
    width: 100px;
    background-size: cover;
    border-radius: 50%;
}

/* ---------------------- */
/* FRIENDS */
/* ---------------------- */

.helper-div20 {
    height: 420px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255 229 229);
    padding: 40px;
}

/* .helper-div21 {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
}*/

.helper-div22 {
    font-family: "Comfortaa";
}

.wrapper {
    border: 2px solid rgb(254 254 255);
    border-radius: 10px;
    height: 40vh;
    width: 30vw;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
}

.helper-div23 {
    margin: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px dotted black;
    width: 300px;
    height: 150px;
}

.helper-div24 {
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.helper-div25 {
    margin-top: 10px;
}

.title {
    text-align: center;
    padding-bottom: 10px;
}
